
<!DOCTYPE html>
<html lang="en-US">
<head>
    <base href="/">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ronindevsquad.com</title>
    <link rel="favicon" href="./img/favicon.ico">
    <link rel="icon" href="./img/favicon.ico" type="image/x-icon"/>

    <meta property="og:title" content="RONIN Dev - Professional Website Services"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://www.ronindevsquad.com/"/>
    <meta property="og:site_name" content="RONIN Dev"/>
    <meta property="og:image" content="img/logos/white_logo_color_background.jpg">

    <meta name="keywords" content="Ronin,Web,Application,Applications,Mobile,App,iOS,Swift,Development,Software,SV,Developer,Dev,Programmer,Website,iPhone,Startup,Tech,Yelp,George,Miranda,Phil,Vo,Sonny,Tosco,Army ,Veterans,UC Davis,USMA"/>
    <meta name="description" content="Ronin Dev is a Web and Mobile Applications Development Team. We are a team of 4 software developers and programmers that create web and mobile (iOS) applications using Swift and Javascript, powered by the MEAN stack technology"/>
    <meta property="og:description" content="Ronin Dev is a Web and Mobile Applications Development Team. We are a team of 4 software developers and programmers that create web and mobile (iOS) applications using Swift and Javascript, powered by the MEAN stack technology"/>

    <!-- SumoMe code  -->
    <script src="//load.sumome.com/" data-sumo-site-id="1c1068ad093663a2bd45dc9a2ec5a2fe3b1589a72bb798bfd873d038951169d8" async="async"></script>

    <!-- Facebook Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window,document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '1957745774455552');
    fbq('track', 'PageView');
    </script>

    <noscript>
    <img height="1" width="1"
    src="https://www.facebook.com/tr?id=1957745774455552&ev=PageView&noscript=1"/>
    </noscript>
    <!-- End Facebook Pixel Code -->

    <link rel='stylesheet' href="./css/rebirthMain.css" />
    <link rel='stylesheet' href="./css/main.css" />
    <style type="text/css" data-type="vc_custom-css">
        .vc_custom{
            padding-right: 0px !important;
            padding-left: 0px !important;
        }
    </style>
</head>

<body class="home page-template page-template-page-template-slider page-template-page-template-slider-php page page-id-124 page-parent  no-thumbnail wpb-js-composer js-comp-ver-5.0.1 vc_responsive">
    <!-- LOADER -->
    <div id="mask">
        <div class="loader-minimal"></div>
    </div>

    <my-app>Loading...</my-app>

    <!-- used for the facebook, twitter, and linkedin icons -->
    <link rel="stylesheet" href="./css/font-awesome.min.css">

    <link rel="stylesheet" href="./fonts/pixeden/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
    <link rel="stylesheet" href="./fonts/pixeden/pe-icon-7-stroke/css/helper.css">

    <!-- The angular script for running the entire site -->
    <script src="/js/app/bundle.js"></script>

    <!-- jquery -->
    <script type='text/javascript' src='./js/rebirthJquery.js'></script>

    <!-- Ronin Scripts -->
    <script src="./js/main.js"></script>
    <script type="text/javascript" src="./js/facebook.js"></script>

    <!-- Following js allows for the 8 interactive coding icons -->
    <script type='text/javascript' src='./js/isotope.min.js'></script>
    <!-- Following js allows for the parallax effect for a couple of pictures -->
    <script type='text/javascript' src='./js/jquery.parallax.min.js'></script>
    <!-- Following two js is for the slide show on the top  -->
    <script type='text/javascript' src='./js/jquery.superslides.min.js'></script>
    <script type='text/javascript' src='./js/owl.carousel.min.js'></script>
    <!-- Flickity for carousel -->
    <script type='text/javascript' src='./js/flickity.pkgd.min.js'></script>
    <!-- Tells whether a dom element is in view -->
    <script type='text/javascript' src='./js/jquery.inview.min.js'></script>
    <script type='text/javascript' src='./js/rebirthNumscroller.js'></script>
    <script type='text/javascript' src='./js/jquery.plugin.min.js'></script>
    <script type='text/javascript' src='./js/jquery.countdown.min.js'></script>
    <script type='text/javascript' src='./js/rebirthMain.js'></script>
    <!-- Following js is for the subscribe popup in the blog posts -->
    <script type='text/javascript' src='./js/popup.js'></script>

</body>
</html>
