
<!DOCTYPE html>
<html lang="en-US">
<head>
    <base href="/">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Monicall</title>
    <link rel="favicon" href="./img/favicon.ico">
    <link rel="icon" href="./img/favicon.ico" type="image/x-icon"/>

    <meta property="og:title" content="RONIN Dev - Professional Website Services"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://www.ronindevsquad.com/"/>
    <meta property="og:site_name" content="RONIN Dev"/>
    <meta property="og:image" content="img/logos/white_logo_color_background.jpg">

    <meta name="keywords" content="Ronin,Web,Application,Applications,Mobile,App,iOS,Swift,Development,Software,SV,Developer,Dev,Programmer,Website,iPhone,Startup,Tech,Yelp,George,Miranda,Phil,Vo,Sonny,Tosco,Army ,Veterans,UC Davis,USMA"/>
    <meta name="description" content="Ronin Dev is a Web and Mobile Applications Development Team. We are a team of 4 software developers and programmers that create web and mobile (iOS) applications using Swift and Javascript, powered by the MEAN stack technology"/>
    <meta property="og:description" content="Ronin Dev is a Web and Mobile Applications Development Team. We are a team of 4 software developers and programmers that create web and mobile (iOS) applications using Swift and Javascript, powered by the MEAN stack technology"/>
</head>

<body>

    <my-app>Loading...</my-app>

    <!-- used for foundation -->
    <link rel="stylesheet" href="./css/foundation.css">

    <!-- The angular script for running the entire site -->
    <script src="/js/app/bundle.js"></script>
    <script src="/js/vendor/jquery.js"></script>
    <script src="/js/vendor/what-input.js"></script>
    <script src="/js/vendor/foundation.min.js"></script>

</body>
</html>
