<footer>
    <div class="container-fluid">
        <div class="voffset30"></div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="voffset10"></div>
                <img src="/img/logo/dark_logo.png" alt="ronin" width="80px">
                <div class="voffset20"></div>
                <p>Ronin Dev is a full stack development team ready to build your vision.</p>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="voffset30"></div>
                <h5 class="title-small">Browse</h5>
                <div class="voffset20"></div>
                <div class="menu-footer-container">
                    <ul id="menu-footer" class="list-menu">
                        <li id="nav-menu-item-127" class="page-scroll main-menu-item  menu-item-even menu-item-depth-0 menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-124 active"><a class="menu-link main-menu-link" [routerLink]="['/index']">Home</a></li>
                        <li id="nav-menu-item-322" class="page-scroll main-menu-item  menu-item-even menu-item-depth-0 menu-item menu-item-type-post_type menu-item-object-page"><a class="menu-link main-menu-link" [routerLink]="['/blog']">Blog</a></li>
                        <li id="nav-menu-item-323" class="page-scroll main-menu-item  menu-item-even menu-item-depth-0 menu-item menu-item-type-post_type menu-item-object-page"><a class="menu-link main-menu-link" [routerLink]="['/contact']">Contact</a></li>
                        <li id="nav-menu-item-325" class="page-scroll main-menu-item  menu-item-even menu-item-depth-0 menu-item menu-item-type-post_type menu-item-object-page"><a class="menu-link main-menu-link" [routerLink]="['/about']">About</a></li>
                        <li id="nav-menu-item-326" class="page-scroll main-menu-item  menu-item-even menu-item-depth-0 menu-item menu-item-type-post_type menu-item-object-page"><a class="menu-link main-menu-link" [routerLink]="['/services']">Services</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="voffset30"></div>
                <h5 class="title-small">Contact us</h5>
                <div class="voffset20"></div>
                <p class="contact-link fa fa-envelope-o">info@ronindevsquad.com</p>
                <div class="voffset20"></div>
                <p class="contact-link fa fa-mobile">408 823 3379</p>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="voffset30"></div>
                <h5 class="title-small">Stay in touch</h5>
                <div class="voffset20"></div>
                <p class="info-newsletter">Sign up to receive content on product and growth</p>
                <div class="voffset20"></div>
                <div id="mc_embed_signup">
                    <form action="//ronindevsquad.us14.list-manage.com/subscribe/post?u=b921785d53ee088791cfd1db9&amp;id=97337191b4" method="post" id="mc-embedded-subscribe-form" class="contact-form validate" name="mc-embedded-subscribe-form" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll">
                            <div class="mc-field-group">
                                <input type="email" id="mce-EMAIL" name="EMAIL" placeholder="email" class="required email" required>
                            </div>
                            <input type="submit" id="mc-embedded-subscribe" name="subscribe" class="btn btn--alt" value=">">
                            <p id="send-success" class="send-success hide">Confirm your new subscription from your inbox</p>
                            <div id="mce-responses" class="clear">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_b921785d53ee088791cfd1db9_97337191b4" tabindex="-1" value=""></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="voffset30"></div>
</footer>
