<section id="social-2" class="section" style="background-color:#fff;">
    <div class="container">
        <div class="vc_row row wpb_row jt_row vc_row row-fluid jt_row-fluid">
            <div class="wpb_column jt_col vc_column_container vc_col-sm-12 col-sm-12">
                <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                        <div class="voffset80"></div>
                        <p class="pretitle  ">Social links</p>
                        <ul class="social-links">
                            <li><a target="_blank" href="https://www.facebook.com/ronindevsquad/"><i class="fa fa-facebook"></i></a></li>
                            <li><a target="_blank" href="https://twitter.com/RoninDevSquad"><i class="fa fa-twitter"></i></a></li>
                            <li><a target="_blank" href="https://www.instagram.com/ronindevsquad/"><i class="fa fa-instagram"></i></a></li>
                            <li><a target="_blank" href="https://www.yelp.com/biz/ronin-dev-squad-san-jose"><img src="/img/companies/yelp.png" width="45px" /></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
