<div class="vc_row row wpb_row jt_row vc_row row-fluid jt_row-fluid row-no-gutter">
    <div class="wpb_column jt_col vc_column_container vc_col-sm-4 col-sm-4">
        <div class="vc_column-inner vc_custom">
            <div class="wpb_wrapper">
                <div class="team-member fadeInUp">
                    <img src="/img/profile/george.jpg" alt="GEORGE MIRANDA">
                    <div class="voffset50"></div>
                    <h4 class="name-member">GEORGE MIRANDA</h4>
                    <p class="position-member">Full-Stack Dev</p>
                    <div class="voffset20"></div>
                    <ul class="list-social">
                        <li><a target="_blank" href="https://www.facebook.com/george.d.miranda"><i class="icon fa fa-facebook"></i></a></li>
                        <li><a target="_blank" href="https://twitter.com/funky_George"><i class="icon fa fa-twitter"></i></a></li>
                        <li><a target="_blank" href="https://www.linkedin.com/in/george-miranda-462a47114 "><i class="icon fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="wpb_column jt_col vc_column_container vc_col-sm-4 col-sm-4">
        <div class="vc_column-inner vc_custom">
            <div class="wpb_wrapper">
                <div class="team-member fadeInUp">
                    <img src="/img/profile/sonny.jpg" alt="SONNY TOSCO">
                    <div class="voffset50"></div>
                    <h4 class="name-member">SONNY TOSCO</h4>
                    <p class="position-member">Product Manager</p>
                    <div class="voffset20"></div>
                    <ul class="list-social">
                        <li><a target="_blank" href="https://www.facebook.com/sonny.tosco"><i class="icon fa fa-facebook"></i></a></li>
                        <li><a target="_blank" href="https://twitter.com/sonnytosco"><i class="icon fa fa-twitter"></i></a></li>
                        <li><a target="_blank" href="https://www.linkedin.com/in/sonnytosco/"><i class="icon fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="wpb_column jt_col vc_column_container vc_col-sm-4 col-sm-4">
        <div class="vc_column-inner vc_custom">
            <div class="wpb_wrapper">
                <div class="team-member fadeInUp">
                    <img src="/img/profile/phil.jpg" alt="PHILIP VO">
                    <div class="voffset50"></div>
                    <h4 class="name-member">Philip Vo</h4>
                    <p class="position-member">Full-Stack Dev</p>
                    <div class="voffset20"></div>
                    <ul class="list-social">
                        <li><a target="_blank" href="https://www.facebook.com/ronindevsquad/"><i class="icon fa fa-facebook"></i></a></li>
                        <li><a target="_blank" href="#"><i class="icon fa fa-twitter"></i></a></li>
                        <li><a target="_blank" href="https://www.linkedin.com/in/philipvo/"><i class="icon fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="vc_row row wpb_row jt_row vc_row row-fluid jt_row-fluid">
    <div class="wpb_column jt_col vc_column_container vc_col-sm-12 col-sm-12">
        <div class="vc_column-inner ">
            <div class="wpb_wrapper">
                <div class="voffset100"></div>
            </div>
        </div>
    </div>
</div>
