<div class="showWhenLoaded" style="opacity: 0;">
    <!-- INTRO -->
    <section class="intro full-width jIntro " id="services">
        <div class="container-full">
            <div id="slides">
                <div class="slides-container">
                    <img src="/img/index/header.jpg" alt="Header">
                    <img src="/img/index/header_alt.jpg" alt="Alt Header">
                </div>
            </div>
            <div class="vcenter text-center text-overlay">
                <div id="owl-main-text" class="owl-carousel">
                    <div class="item">
                        <h1 class="primary-title invert">need an app? <strong>we'll build it</strong></h1>
                    </div>
                        <div class="item">
                        <h1 class="primary-title invert">need an app? <strong>we'll ship it</strong></h1>
                        </div>
                    </div>
                <div class="voffset20"></div>
            </div>
        </div>
    </section>
    <section id="introducing" class="section">
        <div class="container">
            <div class="voffset90"></div>
            <h2 class="title">Ronin Dev Squad</h2>
            <p class="subtitle">A full-stack development team that can build a minimum viable product for your web or mobile app.</p>
            <ul class="list-horizontal-links">
                <li><a href="./services.html">Learn more</a></li>
            </ul>
            <div class="voffset90"></div>
        </div>
    </section>
    <section id="tabs" class="section tabsmodule full-width" style="background-color:#fff;">
        <div class="vc_row row wpb_row jt_row vc_row row-fluid jt_row-fluid">
            <div class="col-sm-6">
                <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                        <div class="banner" style="background-image:url(/img/index/3ds.jpg);">
                            <div class="voffset720">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wpb_column jt_col vc_column_container vc_col-sm-6 col-sm-6">
                <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                        <div class="banner-tabs">
                            <div class=""> <!-- vcenter -->
                                <ul class="list-horizontal-links carousel-tabs">
                                    <li class="active"><a href="#">Design</a></li>
                                    <li class=""><a href="#">Development</a></li>
                                    <li class=""><a href="#">Deployment</a></li>
                                </ul>
                                <div class="carusel-tabs-text">
                                    <div class="carousel-cell">
                                        <h2 class="title invert">Intuitive Design</h2>
                                        <p>Before we start working together, we want to make sure that we understand your intended users and most importantly your vision.</p>
                                        <p> We then work to create a wireframe for your app that aligns your business, design, and engineering needs to create a product that supports a focused value proposition.</p>
                                    </div>
                                    <div class="carousel-cell">
                                        <h2 class="title invert">Agile Development</h2>
                                        <p>Once your wireframes are approved, we’ll go ahead and start building.</p>
                                        <p>We will assign a product manager to give you weekly updates as development progresses to ensure your go-to-market strategy is aligned with our development timeline.</p>
                                    </div>
                                    <div class="carousel-cell">
                                        <h2 class="title invert">Test and Ship</h2>
                                        <p>Once your apps are complete, we will then test them in house to address any bugs that may arise. We will also get you involved in the process as well to identify any shortfalls with the code.</p>
                                        <p> Once testing has been complete, we will deploy your app and stand by to address any bugs in the approved speciﬁcations.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="key-features" class="section features" style="background-color:#fff;">
        <div class="container">
            <div class="vc_row row wpb_row jt_row vc_row row-fluid jt_row-fluid">
                <div class="wpb_column jt_col vc_column_container vc_col-sm-2 col-sm-2">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper"></div>
                    </div>
                </div>
                <div class="wpb_column jt_col vc_column_container vc_col-sm-8 col-sm-8">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <div class="voffset110"></div>
                            <h2 class="title">What We Do</h2>
                            <p class="subtitle">Building web and mobile apps isn’t our only specialty, here’s what else we can do to drive revenue and create loyal customers.</p>
                            <div class="voffset110"></div>
                        </div>
                    </div>
                </div>
                <div class="wpb_column jt_col vc_column_container vc_col-sm-2 col-sm-2">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper"></div>
                    </div>
                </div>
            </div>
            <div class="vc_row row wpb_row jt_row vc_row row-fluid jt_row-fluid">
                <div class="wpb_column jt_col vc_column_container vc_col-sm-4 col-sm-4">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <div class="horizontal-border fadeInUp">
                                <div class="voffset40"></div>
                                <img src="/img/icons/web_apps.png" />
                                <div class="voffset40"></div>
                                <h4 class="titlefeat">Web Apps</h4>
                                <div class="voffset30"></div>
                                <div class="textfeat">
                                    <p>Apps like AirBnB, Slack, and Facebook all started as a few lines of code that went on to reshape our lives.</p>
                                </div>
                            </div>
                            <div class="voffset80"></div>
                        </div>
                    </div>
                </div>
                <div class="wpb_column jt_col vc_column_container vc_col-sm-4 col-sm-4">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <div class="horizontal-border fadeInUp">
                                <div class="voffset40"></div>
                                <img src="/img/icons/mobile_apps.png" />
                                <div class="voffset40"></div>
                                <h4 class="titlefeat">Mobile Apps </h4>
                                <div class="voffset30"></div>
                                <div class="textfeat"><p>Want Uber for X? We create our apps in React-Native so you’ll have an iOS and Android app from day one.</p></div>
                            </div>
                            <div class="voffset80"></div>
                        </div>
                    </div>
                </div>
                <div class="wpb_column jt_col vc_column_container vc_col-sm-4 col-sm-4">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <div class=" fadeInUp">
                                <div class="voffset40"></div>
                                <img src="/img/icons/salesforce1600.png" width="75px" />
                                <div class="voffset40"></div>
                                <h4 class="titlefeat">Salesforce</h4>
                                <div class="voffset30"></div>
                                <div class="textfeat"><p>Our certiﬁed Salesforce admins can help optimize your Salesforce Org to make sure every lead becomes a revenue opportunity.</p></div>
                            </div>
                            <div class="voffset80">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_row row wpb_row jt_row vc_row row-fluid jt_row-fluid">
                <div class="wpb_column jt_col vc_column_container vc_col-sm-4 col-sm-4">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <div class="horizontal-border fadeInUp">
                                <div class="voffset40"></div>
                                <img src="/img/icons/workflow_automations.png" />
                                <div class="voffset40"></div>
                                <h4 class="titlefeat">Workﬂow Automations </h4>
                                <div class="voffset30"></div>
                                <div class="textfeat"><p>Tired of transferring form information from your website to another spreadsheet like MailChimp? Let us automate these processes to save you time.</p></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wpb_column jt_col vc_column_container vc_col-sm-4 col-sm-4">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <div class="horizontal-border fadeInUp">
                                <div class="voffset40"></div>
                                <img src="/img/icons/startup_consulting.png" />
                                <div class="voffset40"></div>
                                <h4 class="titlefeat">Startup Consulting</h4>
                                <div class="voffset30"></div>
                                <div class="textfeat"><p>Startups are all about getting product-market ﬁt as fast as possible. Hear our lessons from Silicon Valley to help you get there faster and within your budget.</p></div>
                            </div>
                            <div class="voffset110"></div>
                        </div>
                    </div>
                </div>
                <div class="wpb_column jt_col vc_column_container vc_col-sm-4 col-sm-4">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <div class=" fadeInUp">
                                <div class="voffset40"></div>
                                <img src="/img/icons/analytics.png" />
                                <div class="voffset40"></div>
                                <h4 class="titlefeat">Analytics</h4>
                                <div class="voffset30"></div>
                                <div class="textfeat"><p>Want to know where your users are spending the most time in your app? Let us integrate analytics in your app to make data-driven decisions.</p></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="about" class="section full-width parallax-section" data-parallax-image="/img/index/about.jpg" style="background-color:#fff; background-image: url(/img/index/about.jpg)">
        <div class="container">
            <div class="vc_row row wpb_row jt_row vc_row row-fluid jt_row-fluid">
                <div class="wpb_column jt_col vc_column_container vc_col-sm-3 col-sm-3">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper"></div>
                    </div>
                </div>
                <div class="wpb_column jt_col vc_column_container vc_col-sm-6 col-sm-6">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <div class="voffset110"></div>
                            <h2 class="title invert">About Ronin Dev</h2>
                            <div class="voffset"></div>
                            <p class="subtitle invert">We were in your shoes as startup founders so we know what it’s like to drink from a ﬁrehose.</p>
                            <div class="separator invert"></div>
                            <p class="subtitle invert">For entrepreneurs and innovators who need to turn their ideas into fully functional software, Ronin Dev is a full stack development team ready to build your vision. Unlike other developers, Ronin Dev oﬀers a partnership that is tirelessly dedicated to delivering a reliable product at a reasonable price.</p>
                            <div class="voffset140"></div>
                        </div>
                    </div>
                </div>
                <div class="wpb_column jt_col vc_column_container vc_col-sm-3 col-sm-3">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="portfolio" class="section full-width" style="background-color:#fff;">
        <div class="container">
            <div class="vc_row row wpb_row jt_row vc_row row-fluid jt_row-fluid">
                <div class="wpb_column jt_col vc_column_container vc_col-sm-12 col-sm-12">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <ul class="filters">
                                <li data-filter="*" class="is-checked wow fadeInUp" data-wow-delay="0.5s"><span>ﬁlter skills</span></li>
                                <li data-filter=".rebirth-type-front" class="wow fadeInUp" data-wow-delay="0.8s">Front-End</li>
                                <li data-filter=".rebirth-type-back" class="wow fadeInUp" data-wow-delay="0.8s">Back-End</li>
                                <li data-filter=".rebirth-type-salesforce" class="wow fadeInUp" data-wow-delay="0.8s">Salesforce</li>
                                <li data-filter=".rebirth-type-design" class="wow fadeInUp" data-wow-delay="0.8s">Design</li>
                            </ul>
                            <div class="thumbnails work5">
                                <div class="grid-sizer"></div>
                                <div class="thumbnail post-248 rebirth-works type-rebirth-works status-publish has-post-thumbnail hentry rebirth-type-back">
                                    <img width="900" height="864" src="/img/tech/mysql.png" class="attachment-rebirth_jellythemes_project_thumb size-rebirth_jellythemes_project_thumb" alt="" />
                                    <div class="rollover rollover5">
                                        <div class="vcenter">
                                            <div class="title-project">MYSQL</div>
                                            <div class="tags-project"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="thumbnail post-247 rebirth-works type-rebirth-works status-publish has-post-thumbnail hentry rebirth-type-design">
                                    <img width="900" height="864" src="/img/tech/invision.png" class="attachment-rebirth_jellythemes_project_thumb size-rebirth_jellythemes_project_thumb" alt="" />
                                    <div class="rollover rollover5">
                                        <div class="vcenter">
                                            <div class="title-project">INVISION</div>
                                            <div class="tags-project"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="thumbnail post-246 rebirth-works type-rebirth-works status-publish has-post-thumbnail hentry rebirth-type-salesforce">
                                    <img width="900" height="864" src="/img/tech/salesforce.png" class="attachment-rebirth_jellythemes_project_thumb size-rebirth_jellythemes_project_thumb" alt=""  />
                                    <div class="rollover rollover5">
                                        <div class="vcenter">
                                            <div class="title-project">SALESFORCE</div>
                                            <div class="tags-project"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="thumbnail post-245 rebirth-works type-rebirth-works status-publish has-post-thumbnail hentry rebirth-type-front">
                                    <img width="900" height="864" src="/img/tech/react.png" class="attachment-rebirth_jellythemes_project_thumb size-rebirth_jellythemes_project_thumb" alt="" />
                                    <div class="rollover rollover5">
                                        <div class="vcenter">
                                            <div class="title-project">REACT</div>
                                            <div class="tags-project"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="thumbnail post-252 rebirth-works type-rebirth-works status-publish has-post-thumbnail hentry rebirth-type-back">
                                    <img width="900" height="864" src="/img/tech/node.png" class="attachment-rebirth_jellythemes_project_thumb size-rebirth_jellythemes_project_thumb" alt="" />
                                    <div class="rollover rollover5">
                                        <div class="vcenter">
                                            <div class="title-project">NODE</div>
                                            <div class="tags-project"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="thumbnail post-249 rebirth-works type-rebirth-works status-publish has-post-thumbnail hentry rebirth-type-front">
                                    <img width="900" height="864" src="/img/tech/angular.png" class="attachment-rebirth_jellythemes_project_thumb size-rebirth_jellythemes_project_thumb" alt="" />
                                    <div class="rollover rollover5">
                                        <div class="vcenter">
                                            <div class="title-project">ANGULAR</div>
                                            <div class="tags-project"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="thumbnail post-243 rebirth-works type-rebirth-works status-publish has-post-thumbnail hentry rebirth-type-design rebirth-type-front">
                                    <img width="900" height="864" src="/img/tech/bootstrap.png" class="attachment-rebirth_jellythemes_project_thumb size-rebirth_jellythemes_project_thumb" alt="" />
                                    <div class="rollover rollover5">
                                        <div class="vcenter">
                                            <div class="title-project">BOOTSTRAP</div>
                                            <div class="tags-project"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="thumbnail post-242 rebirth-works type-rebirth-works status-publish has-post-thumbnail hentry rebirth-type-front">
                                    <img width="900" height="864" src="/img/tech/python.png" class="attachment-rebirth_jellythemes_project_thumb size-rebirth_jellythemes_project_thumb" alt="" />
                                    <div class="rollover rollover5">
                                        <div class="vcenter">
                                            <div class="title-project">PYTHON</div>
                                            <div class="tags-project"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="thumbnail post-242 rebirth-works type-rebirth-works status-publish has-post-thumbnail hentry rebirth-type-front">
                                    <img width="900" height="864" src="/img/tech/Swift.png" class="attachment-rebirth_jellythemes_project_thumb size-rebirth_jellythemes_project_thumb" alt="" />
                                    <div class="rollover rollover5">
                                        <div class="vcenter">
                                            <div class="title-project">SWIFT</div>
                                            <div class="tags-project"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="thumbnail post-242 rebirth-works type-rebirth-works status-publish has-post-thumbnail hentry rebirth-type-back">
                                    <img width="900" height="864" src="/img/tech/mongo.png" class="attachment-rebirth_jellythemes_project_thumb size-rebirth_jellythemes_project_thumb" alt="" />
                                    <div class="rollover rollover5">
                                        <div class="vcenter">
                                                <div class="title-project">MONGO</div>
                                            <div class="tags-project"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="thumbnail post-242 rebirth-works type-rebirth-works status-publish has-post-thumbnail hentry rebirth-type-design rebirth-type-front">
                                    <img width="900" height="864" src="/img/tech/materialize.png" class="attachment-rebirth_jellythemes_project_thumb size-rebirth_jellythemes_project_thumb" alt="" />
                                    <div class="rollover rollover5">
                                        <div class="vcenter">
                                            <div class="title-project">MATERIALIZE</div>
                                            <div class="tags-project"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="thumbnail post-242 rebirth-works type-rebirth-works status-publish has-post-thumbnail hentry rebirth-type-back">
                                    <img width="900" height="864" src="/img/tech/nginx.png" class="attachment-rebirth_jellythemes_project_thumb size-rebirth_jellythemes_project_thumb" alt="" />
                                    <div class="rollover rollover5">
                                        <div class="vcenter">
                                                <div class="title-project">NGINX</div>
                                            <div class="tags-project"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="voffset20"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="clients"class="section" style="background-color:#fff;">
        <div class="container">
            <div class="vc_row row wpb_row jt_row vc_row row-fluid jt_row-fluid">
                <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                        <div class="voffset90"></div>
                        <p class="pretitle  ">Clients</p>
                        <div class="voffset30"></div>
                        <p class="subtitle  big ">we believe good service is good business</p>
                        <div class="voffset60"></div>
                        <companies-served-component></companies-served-component>
                        <div class="voffset90"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="achievements" class="section inverse-color banner full-width" style="background-color:#373c42;">
        <div class="vc_row row wpb_row jt_row vc_row row-fluid jt_row-fluid">
            <div class="wpb_column jt_col vc_column_container vc_col-sm-12 col-sm-12">
                <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                        <div class="voffset120">
                        </div>
                        <p class="pretitle invert ">Achievements</p>
                        <ul class="counter">
                            <li class="fadeInUp horizontal-border">
                                <p class="number"><span class="numscroller" data-min="1" data-max="30" data-delay="5" data-increment="5">30</span></p>
                                <p class="title-counter">technologies we’ve used</p>
                            </li>
                            <li class="fadeInUp horizontal-border">
                                <p class="number"><span class="numscroller" data-min="0" data-max="0" data-delay="2" data-increment="0">0</span></p>
                                <p class="title-counter">client turnovers</p>
                            </li>
                            <li class="fadeInUp horizontal-border">
                                <p class="number">$<span class="numscroller" data-min="1" data-max="2.5" data-delay="3" data-increment="1">2.5</span></p>
                                <p class="title-counter">raised by clients in millions</p>
                            </li>
                            <li class="fadeInUp horizontal-border">
                                <p class="number"><span class="numscroller" data-min="0" data-max="2" data-delay="3" data-increment="1">2</span></p>
                                <p class="title-counter">clients deployed to Iraq</p>
                            </li>
                            <li class="fadeInUp">
                                <p class="number"><span class="numscroller" data-min="1" data-max="6" data-delay="4" data-increment="2">6</span></p>
                                <p class="title-counter">timezones we’ve had clients in</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="team" class="section" style="background-color:#fff;">
        <div class="container">
            <div class="vc_row row wpb_row jt_row vc_row row-fluid jt_row-fluid">
                <div class="wpb_column jt_col vc_column_container vc_col-sm-12 col-sm-12">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <div class="voffset100"></div>
                            <p class="pretitle  left">Meet the team</p>
                            <h2 class="title   left-horizontal">The Squad</h2>
                        </div>
                    </div>
                </div>
            </div>
            <team-component></team-component>
        </div>
    </section>
    <section id="what-we-do" class="section experties" style="background-color:#f6f6f6;">
        <div class="container">
            <div class="vc_row row wpb_row jt_row vc_row row-fluid jt_row-fluid">
                <div class="wpb_column jt_col vc_column_container vc_col-sm-7 col-sm-7">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <div class="voffset100"></div>
                            <p class="pretitle  left">our client's words</p>
                            <h2 class="title left-horizontal">their experience</h2>
                            <div class="voffset50"></div>
                        </div>
                    </div>
                </div>
                <div class="wpb_column jt_col vc_column_container vc_col-sm-5 col-sm-5">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <p class="subtitle left-horizontal">We take pride in our products' craftsmanship. Hear what our clients have to say.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_row row wpb_row jt_row vc_row row-fluid jt_row-fluid">
                <div class="wpb_column jt_col vc_column_container vc_col-sm-4 col-sm-4">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div class="experient-list">
                                <h4 class="title-list-experties">Techbridge Girls</h4>
                                <div class="voffset30"></div>
                                <ul class="list-experties">
                                    <li>Thank you Ronin Dev for truly capturing the essence and spirit of Techbridge Girls.  Your streamline and automated solution will transform our organization so that we can inspire and impact more girls across the country!</li>
                                    <li>- Nikole Collins-Puri, CEO, Techbridge Girls</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wpb_column jt_col vc_column_container vc_col-sm-4 col-sm-4">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <div class="experient-list">
                                <h4 class="title-list-experties">OmniVu, Inc</h4>
                                <div class="voffset30"></div>
                                <ul class="list-experties">
                                    <li>Engaging the Ronin Dev team for your technology development needs will be a prudent business decision as I highly recommend working with them.</li>
                                    <li>- Steve Giraud, CEO OmniVu, Inc</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wpb_column jt_col vc_column_container vc_col-sm-4 col-sm-4">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <div class="experient-list">
                                <h4 class="title-list-experties">Veidt Research LLC</h4>
                                <div class="voffset30"></div>
                                <ul class="list-experties">
                                    <li>There are no cons to working with Sonny and his team. He is a consummate professional and delivers every time.</li>
                                    <li>- Michael Anthony, Veidt Research LLC</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_row row wpb_row jt_row vc_row row-fluid jt_row-fluid">
                <div class="wpb_column jt_col vc_column_container vc_col-sm-12 col-sm-12">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <div class="voffset150"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="contact-and-map-2" class="section full-width" style="background-color:#fff;">
        <div class="container">
            <div class="vc_row row wpb_row jt_row vc_row row-fluid jt_row-fluid">
                <div class="wpb_column jt_col vc_column_container vc_col-sm-3 col-sm-3"></div>
                <div class="wpb_column jt_col vc_column_container vc_col-sm-6 col-sm-6">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <div class="contact-basic">
                                <div class="voffset400"></div>
                                <div class="vcenter text-center">
                                    <p class="pretitle">Phone:</p>
                                    <div class="voffset20"></div>
                                    <p>408 823 3379</p>
                                    <div class="voffset50"></div>
                                    <p class="pretitle">Email:</p>
                                    <div class="voffset20"></div>
                                    <p><a href="mailto:george92miranda@gmail.com" class="mailto">hello@ronindevsquad.com</a></p>
                                </div>
                            </div>
                            <div class="contact-form bg-cream">
                                <div class="voffset400"></div>
                                <div class="vcenter text-center">
                                    <p class="pretitle">Contact:</p>
                                    <div class="voffset40"></div>
                                    <form action="" class="contact-form-advanced" id="complete-contactform">
                                        <div class="form-group inline">
                                            <input type="text" class="form-control" name="name" id="inputName" placeholder="name:">
                                        </div>
                                        <div class="form-group inline">
                                            <input type="email" class="form-control" name="email" id="inputEmail" placeholder="email address">
                                        </div>
                                        <div class="form-group">
                                            <textarea class="form-control" rows="3" name="message" id="inputMessage" placeholder="message"></textarea>
                                        </div>
                                        <div class="voffset20"></div>
                                        <p class="send-success hide">Your message has been sent</p>
                                        <button type="submit" class="btn btn-arrow">Send message</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <social-component></social-component>
</div>
