<div class="showWhenLoaded" style="opacity: 0;">
    <!-- INTRO -->
    <section class="intro full-width jIntro " id="services">
        <div class="container-full">
            <div class="col-md-12">
                <div class="slider-intro">
                    <div id="slides">
                        <div class="slides-container">
                            <img src="/img/services/header.jpg" alt="header_1">
                            <img src="/img/services/header_alt.jpg" alt="header_2">
                        </div>
                    </div>
                </div>
            </div>
            <div class="vcenter text-center text-overlay">
                <div id="owl-main-text" class="owl-carousel">
                    <div class="item">
                        <h1 class="primary-title invert">need an app? <strong>we'll build it</strong></h1>
                    </div>
                    <div class="item">
                        <h1 class="primary-title invert">need an app? <strong>we'll ship it</strong></h1>
                    </div>
                </div>
                <div class="voffset20"></div>
            </div>
        </div>
    </section>
    <section id="small-counters" class="section inverse-color banner counter small full-width" style="background-color:#373c42;">
        <div class="container">
            <div class="vc_row row wpb_row jt_row vc_row row-fluid jt_row-fluid">
                <div class="wpb_column jt_col vc_column_container vc_col-sm-12 col-sm-12">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <div class="voffset60"></div>
                            <p class="pretitle invert ">Our progress</p>
                            <div class="voffset80"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_row row wpb_row jt_row vc_row row-fluid jt_row-fluid">
                <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                        <div class="vc_row row wpb_row jt_row vc_inner vc_row row-fluid jt_row-fluid">
                            <div class="wpb_column jt_col vc_column_container vc_col-sm-3 col-sm-3">
                                <div class="vc_column-inner ">
                                    <div class="wpb_wrapper">
                                        <p class="number"><span class="numscroller" data-min="1" data-max="11" data-delay="5" data-increment="2">11</span></p>
                                        <p class="title-counter">MVPs developed</p>
                                    </div>
                                </div>
                            </div>
                            <div class="wpb_column jt_col vc_column_container vc_col-sm-3 col-sm-3">
                                <div class="vc_column-inner ">
                                    <div class="wpb_wrapper">
                                        <p class="number"><span class="numscroller" data-min="0" data-max="0" data-delay="2" data-increment="1">0</span></p>
                                        <p class="title-counter">client turnovers</p>
                                    </div>
                                </div>
                            </div>
                            <div class="wpb_column jt_col vc_column_container vc_col-sm-3 col-sm-3">
                                <div class="vc_column-inner ">
                                    <div class="wpb_wrapper">
                                        <p class="number"><span class="numscroller" data-min="1" data-max="7" data-delay="3" data-increment="1">7</span></p>
                                        <p class="title-counter">months in business</p>
                                    </div>
                                </div>
                            </div>
                            <div class="wpb_column jt_col vc_column_container vc_col-sm-3 col-sm-3">
                                <div class="vc_column-inner ">
                                    <div class="wpb_wrapper">
                                        <p class="number">$<span class="numscroller" data-min="1" data-max="2.5" data-delay="2" data-increment="1">2.5</span></p>
                                        <p class="title-counter">raised by clients in millions</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_row row wpb_row jt_row vc_row row-fluid jt_row-fluid">
                <div class="wpb_column jt_col vc_column_container vc_col-sm-12 col-sm-12">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <div class="voffset80"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="service-grid" class="section grid alternate full-width" style="background-color:#fff;">
            <div class="vc_row wpb_row jt_row vc_row row-fluid jt_row-fluid">
                <div class="wpb_column jt_col vc_column_container vc_col-sm-6 col-sm-6">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <div class="banner" style="background-image:url(/img/services/body.jpg);">
                            <div class="voffset"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wpb_column jt_col vc_column_container vc_col-sm-6 col-sm-6">
                <div class="vcenter text-center">
                    <h2 class="title  title-alternate-grid ">Why You Want A Team</h2>
                    <div class="wpb_wrapper">
                        <p>Building a team that consistently wins is hard whether you’re the Warriors, the Mighty Ducks, or in software.  Leverage a tested team likes ours so you can focus on finding ways to acquire customers and generate revenue.</p>
                    </div>
                </div>
            </div>
         </div>
    </section>
    <section id="awards" class="section full-width" style="background-color:#f9f9f7;">
        <div class="container">
            <div class="vc_row row wpb_row jt_row vc_row row-fluid jt_row-fluid">
                <div class="wpb_column jt_col vc_column_container vc_col-sm-12 col-sm-12">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <div class="voffset120"></div>
                            <p class="pretitle  ">Awards</p>
                            <div class="voffset30"></div>
                            <p class="subtitle  big ">hackathons validate how our team ranks in Silicon Valley</p>
                            <div class="voffset100"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_row row wpb_row jt_row vc_row row-fluid jt_row-fluid text-center">
                <div class="col-md-3 col-sm-6 fixed-height">
                    <img width="228" height="84" src="/img/companies/DocuSignHackathon.png" class="" alt="" />
                    <h4> 1st Docusign Momentum Hackathon</h4>
                </div>
                <div class="col-md-3 col-sm-6 fixed-height">
                    <img width="168" height="68" src="/img/companies/reactathon-logo.png" class="" alt="" />
                    <h4>4th Reactathon</h4>
                </div>
                <div class="col-md-3 col-sm-6 fixed-height">
                    <img width="228" height="84" src="/img/companies/chimehack.jpg" class="" alt="" />
                    <h4> 2nd Gucci's Chimehack Hackathon</h4>
                </div>
                <div class="col-md-3 col-sm-6 fixed-height">
                    <img width="114" height="68" src="/img/companies/facebook_hackathon.png" class="" alt="" />
                    <h4>1st Facebook Hackathon</h4>
                </div>
            </div>
            <div class="voffset80"></div>
        </div>
    </section>
    <section id="work-with-us" class="section inverse-color banner full-width" style="background-color:#373c42;">
        <div class="container">
            <div class="vc_row row wpb_row jt_row vc_row row-fluid jt_row-fluid">
                <div class="wpb_column jt_col vc_column_container vc_col-sm-12 col-sm-12">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <div class="voffset110"></div>
                            <p class="pretitle invert ">Work with us</p>
                            <div class="voffset20"></div>
                            <p class="subtitle invert big ">ready to work with us? let's schedule a call!</p>
                            <div class="voffset40"></div>
                            <ul class="icon-links invert">
                                <li class="pe-7s-mail"><a href="mailto:hello@ronindevsquad.com">hello@ronindevsquad.com</a></li>
                            </ul>
                            <div class="voffset110"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <social-component></social-component>
</div>
