<div class="paginationblog includeimage oldpost">
    <a [routerLink]="['/blog/' + postIndex]">
        <div class="banner" [ngStyle]="{'background-image': 'url(/img/blog/' + postIndex + '/' + posts[posts.length - postIndex - 1].thumbnail + ')'}">
            <div class="voffset160"></div>
        </div>
        <p class="info">
            <span class="date-pagination" [innerHTML]="posts[posts.length - postIndex - 1].date"></span>
            <span class="title-pagination" [innerHTML]="posts[posts.length - postIndex - 1].title"></span>
        </p>
    </a>
</div>
