<div class="intro jIntro" *ngIf="posts">
    <div class="image-cover menu-bottom" [ngStyle]="{'background-image': 'url(' + posts[posts.length - postIndex - 1].splash_img + ')'}">
    </div>
</div>
<div class="section post-whidout-sidebar post-290 post type-post status-publish format-standard has-post-thumbnail hentry category-category-1 category-uncategorized tag-tag-lorem-ipsum tag-tag1 tag-tag2 tag-tag3">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-md-offset-3">
                <div class="content-post post-without-sidebar" *ngIf="posts">
                    <p class="blog-post-date block" [innerHTML]="posts[posts.length - postIndex - 1].created_at"></p>
                    <h1 class="primary-title text-left" [innerHTML]="posts[posts.length - postIndex - 1].title"></h1>
                    <div class="post-details" [innerHTML]="posts[posts.length - postIndex - 1].text">
                    </div>
                    <div class="voffset80"></div>
                    <div class="bio">
                        <p><img style="border-radius: 50px" src="/img/profile/{{posts[posts.length - postIndex - 1].picture}}" />
                        <br />
                        <em><strong>About {{posts[posts.length - postIndex - 1].name}}:</strong>
                        <br />
                        {{posts[posts.length - postIndex - 1].bio}}</em>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container container-full">
        <div class="row row-no-gutter">
            <div class="col-sm-6">
                <left-blog-link *ngIf="postIndex > 0" [postIndex]="postIndex - 1"  [posts]="posts"></left-blog-link>
            </div>
            <div class="col-sm-6" *ngIf="posts">
                <right-blog-link *ngIf="postIndex < posts.length - 1"  [postIndex]="postIndex + 1" [posts]="posts"></right-blog-link>
            </div>
        </div>
    </div>
</div>
<div id="Popup"></div>
