<div class="row row-no-gutter visible">
    <div class="col-md-6">
        <a [routerLink]="['/blog/' + index]"><div class="banner blog-2-image" [ngStyle]="{'background-image': 'url(/img/blog/' + index + '/' + post.thumbnail + ')'}"></div></a>
    </div>
    <div class="col-md-6">
        <div class="blog-2-text">
            <div class="vcenter blog-post-content">
                <div class="blog-post-header">
                    <div class="blog-post-author"></div>
                    <p class="blog-post-date" [innerHTML]="post.created_at"></p>
                </div>
                <div class="voffset40"></div>
                <h1 class="blog-post-title"><a [routerLink]="['/blog/' + index]" [innerHTML]="post.title"></a></h1>
                <div class="voffset20"></div>
                <p class="blog-post-intro" [innerHTML]="post.summary"></p>
                <div class="voffset40"></div>
                <div class="post-share"></div>
                <div class="voffset50"></div>
                <a [routerLink]="['/blog/' + index]" class="readfull">read full article</a>
                <div class="voffset50"></div>
            </div>
        </div>
    </div>
</div>
