<div class="showWhenLoaded" style="opacity: 0;">
    <div class="intro jIntro">
        <div id="slides">
            <div class="image-cover menu-bottom" style="background-image:url(/img/contact/header.jpg);"></div>
        </div>
        <div class="vcenter text-center">
            <div class="container">
                <div class="col-md-8 col-md-offset-2">
                    <div class="voffset50"></div>
                    <p class="pretitle invert superbig">Work with us</p>
                    <div class="voffset80"></div>
                    <h1 class="primary-title invert"><strong>Or just say hello!</strong></h1>
                </div>
            </div>
        </div>
    </div>
    <section id="contact-and-map" class="section full-width" style="background-color:#fff;">
        <div class="container">
            <div class="vc_row row wpb_row jt_row vc_row row-fluid jt_row-fluid">
                <!--Shorten column to center-->
                <div class="wpb_column jt_col vc_column_container vc_col-sm-3 col-sm-3"></div>
                <div class="wpb_column jt_col vc_column_container vc_col-sm-6 col-sm-6">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <div class="contact-basic">
                                <div class="voffset400"></div>
                                <div class="vcenter text-center">
                                    <p class="pretitle">Phone:</p>
                                    <div class="voffset20"></div>
                                    <p>408 823 3379</p>
                                    <div class="voffset50"></div>
                                    <p class="pretitle">Email:</p>
                                    <div class="voffset20"></div>
                                    <p><a href="mailto:hello@ronindevsquad.com" class="mailto">hello@ronindevsquad.com</a></p>
                                </div>
                            </div>
                            <div class="contact-form bg-cream">
                                <div class="voffset400"></div>
                                <div class="vcenter text-center">
                                    <p class="pretitle">Contact:</p>
                                    <div class="voffset40"></div>
                                    <form action="" class="contact-form-advanced" id="complete-contactform">
                                        <div class="form-group inline">
                                            <input type="text" class="form-control" name="name" id="inputName" placeholder="name:">
                                        </div>
                                        <div class="form-group inline">
                                            <input type="email" class="form-control" name="email" id="inputEmail" placeholder="email address">
                                        </div>
                                        <div class="form-group">
                                            <textarea class="form-control" rows="3" name="message" id="inputMessage" placeholder="message"></textarea>
                                        </div>
                                        <div class="voffset20"></div>
                                        <p class="send-success hide">Your message has been sent</p>
                                        <button type="submit" class="btn btn-arrow">Send message</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <social-component></social-component>
</div>
