<div class="showWhenLoaded" style="opacity: 0;">
    <section class="intro full-width jIntro " id="services">
        <div id="slides">
            <div class="image-cover menu-bottom" style="background-image:url(/img/about/header.jpg);"></div>
        </div>
        <div class="iconScroll invert">
            <p class="info">About ronin dev</p>
            <div class="icon">
                <i class="ico-expression scroll"></i>
            </div>
        </div>
    </section>
    <section id="our-process" class="section inverse-color banner" style="background-color:#373c42;">
        <div class="container">
            <div class="vc_row row wpb_row jt_row vc_row row-fluid jt_row-fluid">
                <div class="wpb_column jt_col vc_column_container vc_col-sm-2 col-sm-2">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper"></div>
                    </div>
                </div>
                <div class="wpb_column jt_col vc_column_container vc_col-sm-8 col-sm-8">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <div class="voffset150"></div>
                            <div class="voffset20"></div>
                            <p class="pretitle invert ">our process</p>
                            <div class="voffset20"></div>
                            <p class="subtitle invert big ">build your app with our team</p>
                            <div class="voffset40"></div>
                            <p class="subtitle invert  ">by using ronin dev, you save time and money by working with a team that’s developed a dependable reputation and rapport</p>
                            <div class="voffset40"></div>
                            <img width="73" height="41" src="/img/about/rombo.png" class="" alt="" />
                            <div class="voffset140"></div>
                        </div>
                    </div>
                </div>
                <div class="wpb_column jt_col vc_column_container vc_col-sm-2 col-sm-2">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="services-minimal" class="section full-width" style="background-color:#fff;">
        <div class="container">
            <div class="vc_row row wpb_row jt_row vc_row row-fluid jt_row-fluid">
                <div class="wpb_column jt_col vc_column_container vc_col-sm-4 col-sm-4">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <div class="fadeInUp about-minimal-icons bg-cream text-center ">
                                <i class="pe-7s-light pe-3x pe-va"></i>
                                <div class="voffset20"></div>
                                <h4 class="title-alternate-grid">IDEA</h4>
                                <div class="proccess-info">
                                    <p style="height: 30vh">Building an app is like building a house, it all starts with the blueprint. We'll discuss your version and develop a wireframe. That way we can both see what will be built before we start the fun part.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wpb_column jt_col vc_column_container vc_col-sm-4 col-sm-4">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <div class="fadeInUp about-minimal-icons bg-cream text-center light">
                                <i class="pe-7s-config pe-3x pe-va"></i>
                                <div class="voffset20"></div>
                                <h4 class="title-alternate-grid">DEVELOPMENT</h4>
                                <div class="proccess-info">
                                    <p style="height: 30vh">After the wireframe is approved we start building. We will meet once a week to discuss what has been completed and what will be completed in the next week that way you are informed and have oversight throughout the process.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wpb_column jt_col vc_column_container vc_col-sm-4 col-sm-4">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <div class="fadeInUp about-minimal-icons bg-cream text-center ">
                                <i class="pe-7s-rocket pe-3x pe-va"></i>
                                <div class="voffset20"></div>
                                <h4 class="title-alternate-grid">PROJECT COMPLETED</h4>
                                <div class="proccess-info">
                                    <p style="height: 30vh">Lastly, we will test your application. We want to make sure we identify and fix any bugs before you launch your app so your users have a great experience. We can implement analytics as well so you know what they love most about your product.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="meet-the-team" class="section full-width" style="background-color:#fff;">
        <div class="container">
            <div class="vc_row row wpb_row jt_row vc_row row-fluid jt_row-fluid">
                <div class="wpb_column jt_col vc_column_container vc_col-sm-12 col-sm-12">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <div class="voffset100">
                            </div>
                            <p class="pretitle  ">Meet the team</p>
                            <div class="voffset"></div>
                            <p class="subtitle  big ">people who make your ideas a reality</p>
                            <div class="voffset80"></div>
                        </div>
                    </div>
                </div>
            </div>
            <team-component></team-component>
        </div>
    </section>
    <section id="clients"class="section" style="background-color:#fff;">
        <div class="container">
            <div class="vc_row row wpb_row jt_row vc_row row-fluid jt_row-fluid">
                <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                        <p class="pretitle  ">Clients</p>
                        <div class="voffset60"></div>
                        <companies-served-component></companies-served-component>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <social-component></social-component>
</div>
